body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    text-align: center;
    background-color: aliceblue;
}
h1 {
    color: rgba(0, 0, 0, 0.89);
}
.card {
    box-shadow: 0 3px 12px 0 rgba(0,0,0,0.2);
    border-radius: 15px;
    transition: 0.3s;
    background-color: palevioletred;
    width: 25%;
    min-width: 20%;
    display: inline-grid;
    margin: 8px;
    padding: 10px;
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.card > h4 {
    color: rgba(0, 0, 0, 0.89);
    margin: 0;
    padding: 0;
}
.card > p {
    color: lime;
    margin: 0;
    padding: 0;
}