body, html, main {
    margin: 0;
    padding: 0;
    height: 100%;
    text-align: center;
}
header {
    height: 70px;
    margin: 0px;
    padding: 0;
    display: flex;
    box-shadow: 0px 0px 20px 0px rgba(10, 0, 0, 0.20);
    place-content: center;
    align-items: center;
    background-color: royalblue;
}
header > h1 {
    color:rgba(0, 0, 0, 0.89);
    margin: 0;
    position: absolute;
    padding: 17px;
}
#add-book-button {
    color: rgba(0, 0, 0, 0.78);
    font-size: x-large;
    background-color: lightgreen;
    border: 1px solid rgba(0, 0, 0, 0.78);
    border-radius: 5px;
    height: 55%;
    width: 8%;
    margin-left: auto;
    margin-right: 20px;
    cursor: pointer;
}
#add-book-button:hover {
    color: rgba(0, 0, 0, 0.78);
    font-size: large;
    border: 1px solid rgba(0, 0, 0, 0.78);
}
#add-book-button:active {
    transform: translateY(1px);
}
.container {
    padding: 20px 0px 100px 0px;
    background-color: rgba(0, 0, 0, 0.50);
    height: 100%;
    overflow-y: auto;
}
.card {
    box-shadow: 0 2px 12px 4px rgba(0,0,0,0.3);
    border-radius: 15px;
    transition: 0.3s;
    background-color: lightgray;
    width: 25%;
    min-width: 20%;
    display: inline-grid;
    margin: 8px;
    padding: 10px;
}
.card:hover {
    box-shadow: 0 2px 12px 4px rgba(0,0,0,0.9);
}
.card > h4 {
    color: rgba(0, 0, 0, 0.89);
    margin: 0;
    padding: 0;
}
.card > p {
    color: rgb(125, 3, 2);
    margin: 0;
    padding: 0;
    font-size: larger;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    width: 100%;
    overflow: auto;
}
.modal-content {
    margin: 100px auto;
    padding: 5px 10px 15px 10px;
    border: 3px solid rgb(75, 46, 46);
    width: 40%;
    height: 48%;
    background-color: ghostwhite;
    border-radius: 15px;
}
.modal-content > h3 {
    color: rgb(23 20 20);
}
.close-button {
    color: rgb(75, 46, 46);
    float: right;
    cursor: pointer;
    font-size: 28px;
    font-weight: bold;
}
.close-button:hover,
.close-button:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
}
.blur-background {
    filter: blur(5px);
}
#add-book-form {
    display: inline-block;
    line-height: 1.8;
}
.form-labels {
    float: left;
    margin: 5px 0px 5px 0px;
    font-weight: bold;
    color: rgb(23 20 20);
}
.form-control {
    width: 95%;
    float: left;
    padding: 3px 3px 3px 8px;
    height: 20px;
    border-radius: 8px;
    border: 1px solid lightgray;
}
.form-control:focus-visible {
    outline: none;
    box-shadow: 0px 0px 3px 2px lightskyblue;
    border: 1px solid transparent;
}
.form-labels-checkbox-title {
    margin: 30px 0px 5px 0px;
    float: left;
    color: rgb(23 20 20);
    font-weight: bold;
}
.form-labels-checkbox {
    float: left;
    margin: 30px 0px 5px 30px;
}
.form-control-checkbox {
    vertical-align: text-top;
    margin-left: 10px;
}
#form-submit-btn {
    width: 50%;
    height: 25px;
    border-radius: 5px;
    border: 1px solid lightgray;
    cursor: pointer;
    background-color: white;
    padding: 7px 0px 20px 0px;
    margin: 10px;
}
#form-submit-btn:hover {
    box-shadow: 0px 0px 3px 2px lightskyblue;
}
#form-submit-btn:active {
    transform: translateY(1px);
}
footer {
    bottom: 0;
    left: 0;
    right: 0;
    height: 70px;
    background-color: royalblue;
    color: rgba(0, 0, 0, 0.89);
    box-shadow: 0px -20px 20px 5px rgba(10, 0, 0, 0.20);
}
footer > h1 {
    margin: 0px;
    padding: 20px 0px 0px 0px
}
footer > h1 > a {
    text-decoration: none;
    color: rgb(78, 0, 0);
}
footer > h1 > a:hover {
    color: rgb(78, 0, 0);
    text-decoration: underline;
}